@model IEnumerable<Temperature>

<table>
    <thead>
        <tr>
            <th>Temperatura</th>
            <th>Data</th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Any())
        {
          @foreach (var entity in Model)
                {
                    <tr>
                        <td>@entity.Temperatura</td>
                        <td>@entity.DateAdded</td>
                    </tr>
                }      
        }
     </tbody>
</table>